# Azure Subscription
SUBSCRIPTION_ID="YOUR_SUBSCRIPTION_ID"

# Azure Region
LOCATION="eastus"

# Project
PROJECT_NAME="centinela"

# Environment
ENVIRONMENT="dev"

# Resource Group
RESOURCE_GROUP_NAME="rg-centinela-dev"