# Azure Deployment Configuration Template

# Identify of Project and Environment

PROJECT_NAME="centinela"
ENVIRONMENT="dev"
LOCATION="westus2"

# Suscripction and Resource Group

AZURE_SUBSCRIPTION_ID="787a5508-33e0-45cd-b5ac-9fba586f4f9c"
RESOURCE_GROUP_NAME="rg-centinela-dev"

# Network Configuration

VNET_NAME="vr-centinela-dev"
VNET_ADDRESS_PREFIX="10.0.0.0/16"

# Resources names (Suggested)

KEYVAULT_NAME="kv-centinela-dev"
STORAGE_ACCOUNT_NAME="stcentineladev1"
COSMOS_DB_NAME="cosmos-centinela-dev"
SERVICE_BUS_NAME="sb-centinela-dev"