# ==========================================
# Project Configuration
# ==========================================

PROJECT_NAME="centinela"
ENVIRONMENT="dev"
LOCATION="westus2"

# ==========================================
# Azure Configuration
# ==========================================

AZURE_SUBSCRIPTION_ID="787a5508-33e0-45cd-b5ac-9fba586f4f9c"
RESOURCE_GROUP_NAME="rg-centinela-dev"

# ==========================================
# Network
# ==========================================

VNET_ADDRESS_PREFIX="10.0.0.0/16"

APP_SUBNET_PREFIX="10.0.1.0/24"

PRIVATE_ENDPOINT_SUBNET_PREFIX="10.0.2.0/24"

INTEGRATION_SUBNET_PREFIX="10.0.3.0/24"